@using Application.Categorys.GetMenuItem.Dto;
@model List<MenuItemDto>
@{
    Layout = null;
}

<nav>
    <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="https://localhost:44315/Account/Register">Login</a></li>
        <li><a href="/Home/About">about</a></li>
        @foreach (var item in Model.Where(p => p.ParentId == null))
        {
            <li>
                <a href="#">@item.Name</a>
                <ul class="submenu">
                    @foreach (var sub in item.SubMenu)
                    {
                        <li><a href="blog.html">@sub.Name</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>